
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com/" /><title>租房主界面</title>
<link rel="shortcut icon" href="/static/main/images/favicon.ico" />
<link type="text/css" href="/static/main/css/css.css" rel="stylesheet" />
<script type="text/javascript" src="/static/main/js/jquery.js"></script>
<script type="text/javascript" src="/static/main/js/js.js"></script>
<script type="text/javascript">
 $(function(){
	 //导航定位
	 $(".nav li:eq(6)").addClass("navCur");
	 })
</script>
</head>

<body>
 <div class="header">
  <div class="width1190">
   <div class="fr">
       <a href="personInfo" id="user_title">{{ UserName }} </a>
    <a href="login" id="login_title">登录</a> |
    <a href="register" id="register_title">注册</a>
       <a href="renterSetting" id="setting_title">设置</a> <!--这个是用来进入房东租户设置界面的-->
   </div>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--header/-->
 <div class="list-nav">
  <div class="width1190">

   <ul class="nav">
    <li><a href="main">首页</a></li>
    <div class="clears"></div>
   </ul><!--nav/-->
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--list-nav/-->

 <div class="content">
  <div class="width1190">
   <div class="vip-left">
       <div class="vipNav">
         <h3 class="vipTitle">个人中心</h3>
        <dl>
         <dt class="vipIcon3">账户设置</dt>
          <dd>
           <a href="personInfo" >个人信息设置</a>
          </dd>
         <dt class="vipIcon1">房源</dt>
          <dd>
           <a href="main" class="vipNavCur">房源列表</a>
          </dd>
        </dl>
       </div><!--vipNav/-->
    </div><!--vip-left/-->
    <div class="vip-right">
     <h3 class="vipright-title">房源列表</h3>
    <div class="right-pro">
       <!--循环房屋图片-->
        {% for house_list in HouseInfo %}
            <dl>
      <dt><a href="proinfo" id="_houseimage" onclick="proinfo_click_fun()"><img src='{{house_list.house_image}}'/></a></dt>
      <dd>
       <h3 id="house_name_h"><a href="proinfo" id="_housename" onclick="proinfo_click_fun()">{{ house_list.rental_name}}</a></h3> <!--房屋名字-->
       <div class="pro-fang">{{ house_list.write_interview }} {{house_list.house_image}}</div> <!--房屋介绍-->
       <div class="right-price">{{ house_list.house_price }}元/月</div> <!--房屋价格-->
      </dd>
           </dl>
      {% endfor %}

    </div><!--right-pro/-->

    </div><!--vip-right/-->
    <div class="clearfix"></div>
  </div><!--width1190/-->
 </div><!--content/-->
 <div class="copy" style="margin-top: 90px;">Copyright@ 2019 ytouch </div>
 <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
 <script src="/static/js/jquery.js"></script>
<script>
    var user_str = document.getElementById("user_title").innerText; //获取登录用户值，判断用户是否已经登录
    if (user_str == "")
    {
        document.getElementById("user_title").style.visibility="hidden";
        document.getElementById("login_title").style.visibility="visible";
        document.getElementById('register_title').style.visibility="visible";
    }
    else{
        document.getElementById("user_title").style.visibility="visible";
        document.getElementById("login_title").style.visibility="hidden";
        document.getElementById('register_title').style.visibility="hidden";
    }
    /*admin则默认为房东设置*/
    if (user_str == "admin")
    {
        //修改标签属性
        $('#setting_title').attr('href','landloadSetting');
    }

    /*查看详情响应函数*/
    function proinfo_click_fun() {
        /*保存房屋名称---用于在另外一个界面中查询*/
        var storage = window.sessionStorage;
        storage['housename'] = document.getElementById('house_name_h').innerText;//保存房屋名字
    }
</script>
</body>
</html>
