<!--租房网主页面，即租房信息展示，相关信息参照models.py中RentHouseInfo部分 简单的用div模块显示即可-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>租房网</title>
</head>
<body>
<h1>{{ UserName }}</h1>

<!--Django当中的遍历数据的方式-->
<!--把数据展示到前端去-->
{% for house_list in HouseInfo %}
   <h1> {{ house_list.cur_address }}</h1> <!--房子地址-->
    <h2>{{ house_list.house_price }}</h2> <!--房价-->
    <h3>{{ house_list.phone_number }}</h3><!--联系电话-->
    <h3>{{ house_list.rental_name }}</h3> <!--房主姓名-->
    <h3>{{ house_list.write_interview }}</h3> <!--房屋介绍-->
    <h3>{{ house_list.house_image }}</h3> <!--房子照片-->
{% endfor %}
</body>
</html>