<!--详细介绍页-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com/" /><title>房屋详情</title>
<link rel="shortcut icon" href="/static/main/images/favicon.ico" />
<link type="text/css" href="/static/main/css/css.css" rel="stylesheet" />
<script type="text/javascript" src="/static/main/js/jquery.js"></script>
<script type="text/javascript" src="/static/main/js/js.js"></script>
<script type="text/javascript">
 $(function(){
	 //导航定位
	 //$(".nav li:eq(6)").addClass("navCur");
	 })
</script>
</head>

<body>
 <div class="header">
  <div class="width1190">
   <div class="fr">
    <a href="personInfo" id="a_username"> {{ UserName }}</a>
    <a href="login" id="a_login">登录</a> |
    <a href="register" id="a_register">注册</a>
   </div>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--header/-->
 <div class="list-nav">
  <div class="width1190">

   <ul class="nav">
    <li><a href="main">首页</a></li>
    <li><a href="main">房源</a></li>
    <div class="clears"></div>
   </ul><!--nav/-->
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--list-nav/-->
 <div class="content">
  <div class="width1190" style="width:1000px;">
   <div class="proImg fl">
    <img src="/static/main/images/fangt1.jpg" />
   </div><!--proImg/-->
   <div class="proText fr">
    <h3 class="proTitle" id="rental_house_name"></h3>
    <div class="proText1">
        地址：<p id="cur_address"></p>
    </div>
    <div class="xun-car">
     <a href="javascript:;" class="xwjg">¥<strong id="house_price"></strong>元</a>
     <a href="javascript:;" class="projrgwc" id="phone_number"></a>
    </div><!--xun-car/-->
   </div><!--proText/-->
   <div class="clears"></div>
  </div><!--width1190/-->
  <div class="proBox" style="width:1000px;margin:10px auto;">
  <div class="proEq">
   <ul class="fl">
    <li class="proEqCur">房源详情</li>
   </ul>
   <div class="clears"></div>
  </div><!--proEq/-->
  <div class="proList" >
<h3 id="write_interview"></h3>
<br />
  </div>
 </div><!--proBox/-->
 </div><!--content/-->
 <div class="copy">Copyright@ 2019 ytouch</div>
<!--===============================================================================================-->
<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/static/vendor/daterangepicker/moment.min.js"></script>
<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<!--调用Jquery.js-->
<script src="/static/js/jquery.js"></script>
 <script>
     var user_str = document.getElementById("a_username").innerText; //获取登录用户值，判断用户是否已经登录
    if (user_str == "")
    {
        document.getElementById("a_username").style.visibility="hidden";
        document.getElementById("a_login").style.visibility="visible";
        document.getElementById('a_register').style.visibility="visible";
    }
    else{
        document.getElementById("a_username").style.visibility="visible";
        document.getElementById("a_login").style.visibility="hidden";
        document.getElementById('a_register').style.visibility="hidden";
    }

     var storage = window.sessionStorage;
     var cur_title = storage.housename;
     var cur_str = document.getElementById('rental_house_name').innerText;
     var data = {'cur_title':cur_title};
     if (cur_title != null)
     {
         if (cur_str!=null)
         {
             $.ajax({
               type:'GET',
               url:'proinfo',
               data:data,
               success:function(result){
                //返回成功进行响应操作
                //把获取信息填写在当中//现在还差image字段传值
                document.getElementById('rental_house_name').innerText = result['rental_name'];
                document.getElementById('house_price').innerText = result['house_price'];
                document.getElementById('phone_number').innerText = result['phone_number'];
                document.getElementById('write_interview').innerText = result['write_interview'];
                document.getElementById('cur_address').innerText = result['cur_address'];
              }
            });
         }
     }
 </script>
</body>
</html>
