<!--详细介绍页-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com/" /><title>房屋详情</title>
<link rel="shortcut icon" href="/static/main/images/favicon.ico" />
<link type="text/css" href="/static/main/css/css.css" rel="stylesheet" />
<script type="text/javascript" src="/static/main/js/jquery.js"></script>
<script type="text/javascript" src="/static/main/js/js.js"></script>
<script type="text/javascript">
 $(function(){
	 //导航定位
	 //$(".nav li:eq(6)").addClass("navCur");
	 })
</script>
</head>

<body>
 <div class="header">
  <div class="width1190">
   <div class="fr">
    <a href="login">登录{{ house_name }}</a> |
    <a href="register">注册</a>
   </div>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--header/-->
 <div class="list-nav">
  <div class="width1190">

   <ul class="nav">
    <li><a href="main">首页</a></li>
    <li><a href="main">房源</a></li>
    <div class="clears"></div>
   </ul><!--nav/-->
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--list-nav/-->
 <div class="content">
  <div class="width1190" style="width:1000px;">
   <div class="proImg fl">
    <img src="/static/main/images/fangt1.jpg" />
   </div><!--proImg/-->
   <div class="proText fr">
    <h3 class="proTitle">上海市智慧园  两室一厅 一厨一卫 </h3>
    <div class="proText1">
	 租户：李先生<br />
     户型：2室 1厅 1卫<br />
     面积：70.0㎡<br />
     朝向：南<br />
     楼层：2层/18层<br />
     装修：简单装修<br />
	 发布时间：2018-12-22<br />
     小区：甘露园南里一区（朝阳 甘露园）1995年

    </div>
    <div class="xun-car">
     <a href="javascript:;" class="xwjg">¥<strong>3600</strong>元</a>
     <a href="javascript:;" class="projrgwc">15467718909</a>
    </div><!--xun-car/-->
   </div><!--proText/-->
   <div class="clears"></div>
  </div><!--width1190/-->
  <div class="proBox" style="width:1000px;margin:10px auto;">
  <div class="proEq">
   <ul class="fl">
    <li class="proEqCur">房源详情</li>
   </ul>
   <div class="clears"></div>
  </div><!--proEq/-->
  <div class="proList">
介绍放在这
<br />
  </div>
 </div><!--proBox/-->
 </div><!--content/-->
 <div class="copy">Copyright@ 2019 ytouch</div>
<!--===============================================================================================-->
<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/static/vendor/daterangepicker/moment.min.js"></script>
<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<!--调用Jquery.js-->
<script src="/static/js/jquery.js"></script>
 <script>
     var storage = window.sessionStorage;
     var cur_title = storage.housename;
     //cur_title 为传来的值。展示到前端去
     alert(cur_title);
     var data = {'cur_title':cur_title};
     $.ajax({
         type:'GET',
         url:'proinfo',
         data:data,
         success:function(result){
             //返回成功进行响应操作
             alert('dd');
         }
     });
 </script>
</body>
</html>
