<!--注册界面-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>租户注册</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST"   id="signup-form" class="signup-form">
                        {% csrf_token %} <!--Django表单界面必加，用于安全认证-->
                        <h2 class="form-title">租户注册</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" id="name" placeholder="手机号"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="密码"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input  class="form-input" name="idcard" id="idcard" placeholder="身份证"/>
                        </div>
                        <div class="form-group">
                            <input  class="form-input" name="rentaddress" id="rentaddress" placeholder="租户地址"/>
                        </div>
                        <div class="form-group">
                         <input type="submit" name="submit" id="submit" class="form-submit" value="注册"/>
                        </div>
                    </form>
                    <p class="loginhere">
                         <a href="login" id="login_click" class="loginhere-link">用户登录</a> <!--直接跳转至登录界面，以及ajax跳转url-->
                         <a href="register" id="register_click" class="loginhere-link" hidden>用户注册</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="/static/js/jquery.js"></script>
    <script>
        /*绑定submit方法*/
        $('#submit').bind('click',function(){

            <!--django csrf认证添加，for ajax-->
            $.ajaxSetup({
             data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });

            <!--获取前端输入数据-->
            var username = $('#name').val();
            var password = $('#password').val();
            var idcard = $("#idcard").val();
            var rentaddress = $('#rentaddress').val();
            var post_data ={"username":username,"password":password,
            "idcard":idcard,"rentaddress":rentaddress,};

            <!--ajax请求-->
            $.ajax({
                url:'/login/register', //url指的是相对于本机服务器，请求的uri位置:可能错误 等后续再改
                type:'POST',   //方法：例如Post/get等等
                data : post_data, /*客户端发送给服务器传递的参数*/
                dataType:"json",  /*参数数据类型*/
                success: function (data) {  //此处的data表示服务器传过来的json数据
                var flag_href = data['flag_href'];
                if (flag_href == "1") //1表示跳转，注册成功
                {
                    alert("用户注册成功");
                    document.getElementById("login_click").click();<!--点击a标签，实现跳转url-->
                }
                /*表示有存在错误信息*/
                else{
                    var error_info = data['error_info']; //获取错误信息
                    alert(error_info)//显示错误信息
                    document.getElementById("register_click").click();<!--点击a标签，实现刷新界面，待完善，这个方法感觉不对-->
                }
            }
            });
        });
    </script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>