<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>租户注册</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %} <!--Django表单界面必加，用于安全认证-->
                        <h2 class="form-title">租户注册</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" id="name" placeholder="手机号"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="密码"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input  class="form-input" name="idcard" id="idcard" placeholder="身份证"/>
                        </div>
                        <div class="form-group">
                            <input  class="form-input" name="rentaddress" id="rentaddress" placeholder="租户地址"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="注册"/>
                        </div>
                        <h3>{{ warn_login }}</h3>
                        <h3>{{ register_error.username }}</h3> <!--指定的用户名错误-->
                    </form>
                    <p class="loginhere">
                         <a href="login" class="loginhere-link">用户登录</a> <!--直接跳转至登录界面-->
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/js/register.js"></script>
    <script>
        <!--实现ajax通信-->
        $(document).ready(function () {
            <!--提交post请求-->
            <!--提示 #表示id-->
            $("#submit").click(function () {
                //alert("注册成功");
                <!--post请求常用格式-->
                <!--1.获取需要post的数据-->
                var username = $("#name").val(); //获得用户名数据
                var password = $("#password").val();
                var idcard = $("#idcard").val();
                var rentaddress = $("#rentaddress").val();
                var submit_data = {"username":username,"password":password,"idcard":idcard,"rentaddress":rentaddress};
                <!--2.使用post提交-->
                $.post("login",submit_data,function(ret){
                    alert("注册成功");
                    <!--这边是执行成功完后实现的操作-->
                })
            })
        })
    </script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>